*.directory
*.git/
*__pycache__/
*.code-workspace

*.FCBak

*.desktop

*.env
venv*

Datasheets/
GH_SSHUnlockLUKS/
secrets/
omv/

/home_pi/.ssh/
/home_pi/.config/
/home_pi/bin/restic*
/home_pi/certs/

TODO.lst

